header.header
    .header__column
        span#logo
            i.fab.fa-youtube
        span#logoname WETUBE
    .header__column
        include ./searchForm
    .header__column
        //- 로그인 됐을 때
        if user === null
            a(href=`${routes.upload}`)
                div.icon
                    i.fas.fa-video
                    span.meaning UPLOAD
            a(href=`${routes.user}${routes.userDetail}`)
                div.icon
                    i.fas.fa-user-check
                    span.meaning MY
            a(href=`${routes.logout}`)
                div.icon
                    i.fas.fa-unlock
                    span.meaning LOGOUT
        //- 로그인 안됐을 때
        else
            a(href=`${routes.login}`)
                div.icon
                    i.fas.fa-lock
                    span.meaning LOGIN
            a(href=`${routes.join}`)
                div.icon
                    i.fas.fa-user-plus
                    span.meaning JOIN