extends ./layouts/main.pug

block contents
    .videoDetail-page
        .videoDetail__videoPlayer
            video(src=`/${video.videoFile}`)
            .videoPlayer__control-bar
                .videoPlayer__col
                    span#videoPlay
                        i.fas.fa-play
                    span#currentTime 00:00:00
                    span.slash /
                    span#endTime 00:00:00
                .videoPlayer__col
                    .progress-bar
                        .progress-bar__track
                                .current-rate
                                    #currentRateBtn
                .videoPlayer__col
                    .volume-control
                            .volume-bar__track
                                .current-rate
                                    #volumeCtrlBtn
                    span#volumeCtrl
                        i.fas.fa-volume-up
                    span#screenSizeCtrl
                        i.fas.fa-expand
        .videoDetail__header
            .videoDetail__row
                span=video.title
            .videoDetail__row
                .videoDetail__col
                    span Views
                    span=video.view
                    span •
                    span #{video.createdAt.toLocaleDateString()}
                .videoDetail__col
                    .thumbs-box 
                        span#videolike
                            i.fas.fa-thumbs-up
                        span#videohate
                            i.fas.fa-thumbs-down
                    if loggedUser !== null && loggedUser.id === video.creator.id
                        a(href=routes.editVideo(video.id))
                            span#editVideoBtn Edit Video
        .videoDetail__main
            .videoDetail__col
                a(href=routes.userDetail(video.creator.id))
                    img(src=`/${video.creator.avatarUrl}`)
            .videoDetail__col
                .videoDetail__row
                    a(href=routes.userDetail(video.creator.id))
                        span=video.creator.name
                .videoDetail__row
                    p.videoDetail__description=video.description

