.comment-box
    .comment__row
        if video.comments.length > 1
            span#commentNum #{video.comments.length}
            span Comments
        else
            span#commentNum #{video.comments.length}
            span Comment
    .comment__row
        if loggedUser !== null
            .comment__col
                img(src=`${loggedUser.avatarUrl}`)
            .comment__col
                form
                    textarea(id="inputComment", class="inputComment", placeholder="Add Comment")
                    .textarea-line
    ul.comment__row.comment-list
        li#newComment.comment.hidden
            .comment__col
                a#fromAvatartoProfile(href="#")
                    img#commentAvatar
            .comment__col
                .comment__row
                    .comment__col
                        a#fromNamertoProfile(href="#")
                            span#commentCreator
                        span#commentDate
                    .comment__col.commentMenuBtn-box
                        span#commentMenuBtn.commentMenuBtn.hidden
                            i.fas.fa-ellipsis-v
                            .commentMenuBtn__effect
                        ul.menubar.hidden
                            li
                                span.menubar__modify Modify
                            li
                                span.menubar__delete Delete
                .comment__row
                    .comment__row
                        span#commentContent.comment__content
                    .comment__row.modify-comment-box.hidden
                        textarea.modify-comment.inputComment(placeholder="Add Comment")
                        .textarea-line
                        .modify-btns
                            span.btn-modify Modify
                            span.btn-cancel Cancel
        each comment in video.comments.reverse()
            li.comment(id=comment._id)
                .comment__col
                    a(href=routes.userDetail(comment.creator))
                        img(src=`${comment.avatarUrl}`)
                .comment__col
                    .comment__row
                        .comment__col
                            a(href=routes.userDetail(comment.creator))
                                span=comment.name
                            span #{comment.createdAt.toLocaleDateString()}
                        if loggedUser !== null && loggedUser.id == comment.creator
                            .comment__col.commentMenuBtn-box
                                .commentMenuBtn.hidden
                                    i.fas.fa-ellipsis-v
                                    .commentMenuBtn__effect
                                ul.menubar.hidden
                                    li
                                        span.menubar__modify Modify
                                    li
                                        span.menubar__delete Delete
                    .comment__row
                        .comment__row
                            span.comment__content=comment.content
                        .comment__row.modify-comment-box.hidden
                            textarea.modify-comment.inputComment(placeholder="Add Comment")
                            .textarea-line
                            .modify-btns
                                span.btn-modify Modify
                                span.btn-cancel Cancel
